$pagination-margin-horizontal: 0.625rem;

@mixin hook-pagination-item {
    padding: 0.8125rem 0.9375rem;
    background: $global-muted-background;
    line-height: 0.8125rem;
    text-align: center;
    border-radius: 0.1875rem;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
}

@mixin hook-pagination-item-active {
    background-color: $global-primary-background;
    color: $global-secondary-background;
}

@mixin hook-pagination-item-hover {
    @include hook-pagination-item-active();
}
